.container {
  width: 100%;
  padding: 0 10px;
  max-width: 580px;
}

.title {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  color: $blue;
  font-weight: bold;
}

.divider {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
