@import '../../../styles/responsive.css';

.container {
  display: flex;
  justify-content: center;
}

.labels {
  font-weight: bold;
  font-size: .8em;
}

@mixin for-tablet-up {
  .labels {
    font-size: 1em;
  }
}
