* {
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.resumeContainer {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 30px;
}

.resumeBody {
  background-color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
